<div class="d-flex flex-row ma-2">
    <div class="w-auto">
        {% set avatar = user.user_avatar_path %}
        {% if avatar.startswith('http') %}
        <img class="profile-avatar" src="{{ avatar }}" alt="Avatar">
        {% else %}
        <img class="profile-avatar" src="{{ url_for('static', filename='images/' ~ avatar) }}" alt="Avatar">
        {% endif %}
    </div>
    {% include "___post_container.html" %}
</div>

<div id="posts">

    {% for tweet in tweets: %}
    {% include "_tweet.html" %}
    {% endfor %}
</div>